{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container" style="padding: 5%">
    <div class="row">
        <div class="col-sm-8">
            {% if user.is_authenticated %}
            <h4>Create new exposure scenario</h4>
            <p> Please add a name, a brief description, the number of exposure events per year and the volume per event
            <p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{scenario_form.instance.id}}" id="id_id">
                {{scenario_form|crispy}}
                <button class="btn btn-primary" type="submit">Submit</button>
                <a class="btn btn-primary" href="{% url 'scenario' %}">Cancel</a>
            </form>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}