.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8081F1 !important;
    border-color: #8081F1 !important;
    }

.text_link_kwb         { color: #0003e2;  } 

.kwb_headline {
    color: #0003e2 !important;
    font-weight: bold;
 
}
h4{
    color: #0003e2 !important;
    font-weight: bold !important;
} 

.info{
    color: #0003e2;
}
.headline{
    color: #0003e2;
    font-weight: bold;
  }