.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #007c9f !important;
}

.text_link_kwb         { color: #007c9f;  } 

.kwb_headline {
    color: #007c9f;
 
}