.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  color: white !important;
  background-color: #8081F1 !important;
  border-color:#8081F1 !important;
  }


 
  .info{
    color:grey;
    font-style: italic;
    font-size: small;
  }
  


/*Icon progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #8081F1;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

/*Icons in the ProgressBar*/
#progressbar #Description:before {
  font-family: FontAwesome;
  content: " ";
 
}
#progressbar #Source:before {
  font-family: FontAwesome;
  content: " ";
}

#progressbar #Treatment:before {
  font-family: FontAwesome;
  content: " ";
}

#progressbar #Exposure:before {
  font-family: FontAwesome;
  content: " ";
}

/*Icon ProgressBar before any progress*/
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: lightgrey;
  background: lightgrey;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  content:'';
}

/*ProgressBar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  color: #8081F1 !important;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #8081F1;
}

/*Animated Progress Bar*/
.progress {
height: 20px;
}


