{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container" style="padding: 5%">

    <div class="row">
        <div class="col-sm-8">
            <ul id="progressbar">
                <li class="active" id="Description"><strong> </strong></li>
                <li class="active" id="Source"><strong> </strong></li>
                <li class="active" id="Treatment"><strong> </strong></li>
                <li class="active" id="Exposure"><strong> </strong></li>
            </ul>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     style='background-color: #8081F1 !important;' role="progressbar" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="mt-3 info">
                <p>
                    The final step to configure a QMRA model is exposure assessment. Within exposure assessment the
                    frequency of exposure is defined as the number of exposure events. The ingested volume defines the
                    magnitude of exposure per exposure event.
                </p>
                <p>
                    {% for exposure in exposures %}
                    {% with exposure.id|stringformat:"i" as t_id %}
                    {% with "exposure-"|add:t_id as data_id %}
                    {{ exposure.serialize | json_script:data_id }}
                    {% endwith %}
                    {% endwith %}
                    {% endfor %}
                </p>
            </div>
            {% if user.is_authenticated %}
            <form method="post" id="form" data-step="{{ wizard.steps.step1}}">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ form|crispy }}
                {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" class="btn btn-primary"
                        value="{{ wizard.steps.prev }}">
                Previous</button>
                {% endif %}
                <input type="submit" name="wizard_goto_step" class="btn btn-primary" value="Submit"/>
            </form>
            {%endif%}
        </div>
    </div>
</div>

{% endblock %}
{% block script%}
<script src="{% static 'progress.js' %}"></script>
<script src="{% static 'option.js' %}"></script>
{% endblock%}