{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

{% if messages %}
  <ul class="messages" style="list-style: none;">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="alert alert-danger" role="alert">Important: {% endif %}
          {{ message }}</div>
        
      </li>
      {% endfor %}
  </ul>
{% endif %}    
  <div class="container" style="padding: 5%">
    <div class="row">
      <div class="col-sm-6">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Save changes</button>
          </form>
      </div>
      <div class="col-sm-5 offset-sm-1" >
        <img class= "img-fluid" src="/static/qmratool/img/QMRA-1.png" alt="...">
      </div>
  </div>
</div>
{% endblock %}