{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}



<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
        {% if user.is_authenticated %}
            <h4>Edit risk assessment</h4>
            <p> Please add a name and a brief description of the risk assessment<p>
        <form action = "{% url 'edit_assessment' ra_id%}", method = "post">
            {% csrf_token %}
            {{form|crispy}}
        
         <button class = "btn btn-primary" type = "submit">Save changes</button>
        <form>
        <a class = "btn btn-danger" href = "{% url "delete" ra_id%}">Delete risk assessment</a> 
        <div class="alert alert-danger mt-3" role="alert">
  Attention! Deleting a risk assessment is final and cannot be made undone!
</div>
{%endif%}

  </div>
 <div class="col-sm-3 offset-sm-1"> <!--style= "background-color: #007c9f; color: white">-->
   <h4 class= "mb-2">Customize</h4>
   <p> Make it your own! </p>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'source_create'%}"> Create source water </a>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'treatment_create'%}"> Create treatment </a>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'scenario_create'%}"> Create exposure scenario </a>
  

{% endblock %}
{%block script%}
  <script src="{% static 'qmratool/option.js' %}"></script>
{%endblock%}