{% extends "qmratool/layout2.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<div class="container" style="padding: 5%">
  <div class="row">
    <div class="col-sm-8">
        {% if user.is_authenticated %}
            <h4>Edit risk assessment</h4>
            <p> Please add a name and a brief description of the risk assessment<p>
        <form action = "{% url 'edit_assessment' ra_id%}", method = "post">
            {% csrf_token %}
            {{form|crispy}}
        
         <button class = "btn btn-primary" type = "submit">Save changes</button>
        <form>
        <a class = "btn btn-danger" href = "{% url "delete" ra_id%}">Delete risk assessment</a> 
        <div class="alert alert-danger mt-3" role="alert">
          Attention! Deleting a risk assessment is final and cannot be made undone!
        </div>
        {%endif%}
  </div>
</div>
</div>
{% endblock %}
{%block script%}
  <script src="{% static 'qmratool/option.js' %}"></script>
{%endblock%}