
{% extends "qmratool/layout.html" %}!-- Extend your base template -->
{% load crispy_forms_tags %}
{% block body %}

<div class="container" style="padding: 5%">
  <div class="row">
    <div class="col-sm-8">
  <h1 class = "headline">Create a new Inflow</h1>
  <form method="post">
    {% csrf_token %}
    {{ source_form|crispy }}
    {{ inflow_formset.management_form }}
    {% for form in inflow_formset %}
        <div class="inflow-form">
            {{ form|crispy }}
        </div>
    {% endfor %}
    <button class = "btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>
</div>
{% endblock %}
