<!DOCTYPE html>
<html lang="en">
    <head>
           <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %} QMRA {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

          <link rel="apple-touch-icon" sizes="180x180" href="/static/qmratool/favicon/apple-touch-icon.png">
          <link rel="icon" type="image/png" sizes="32x32" href="/static/qmratool/favicon/favicon-32x32.png">
          <link rel="icon" type="image/png" sizes="16x16" href="/static/qmratool/favicon/favicon-16x16.png">
          <link rel="manifest" href="/static/qmratool/favicon/site.webmanifest">
          <link rel="mask-icon" href="/static/qmratool/favicon/safari-pinned-tab.svg" color="#5bbad5">
          <link rel="shortcut icon" href="/static/qmratool/favicon/favicon.ico">
          <meta name="msapplication-TileColor" content="#da532c">
          <meta name="msapplication-config" content="/static/qmratool/favicon/browserconfig.xml">
          <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href= "/static/qmratool/style.css" >
        <link rel="stylesheet" href= "/static/qmratool/css/styles.css" >
  

 
    {% block script%}
     {%endblock%}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg border-bottom" style="background-color: #EAEAFD;">
          <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon" style="border-color: black;"></span>
            </button>
              <a class="navbar-brand" href="{%url 'index'%}">
                <h1 class = "kwb_headline"> QMRA </h1>
                <!-- <img src="/static/qmratool/img/QMRA-1.png" width="66" height="66" class="d-inline-block align-top" alt=""> -->
            </a>
            <div class="collapse navbar-collapse" id = "navbarTogglerDemo01">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                  
                        <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'index'%}"> My Risk Assessments</a>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link text_link_kwb" href="{%url 'source-water-list'%}"> My Source Waters</a>
                          </li>
                         <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'treatment-list'%}"> My Treatments</a>
                        </li>
                         <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'scenario_edit'%}"> My Exposure scenarios</a>
                        </li>
                     
                </ul>
                <ul class= "navbar-nav navbar-right">
                  <li class="nav-item dropdown">

                    <button class="btn nav-item active text_link_kwb dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <strong>{{ user.username }}</strong>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        
                        <a class="dropdown-item nav-link text_link_kwb" href="{% url 'change_password' %}" tabindex="0">Change password</a>
                        <a class="dropdown-item nav-link text_link_kwb" href="{% url 'delete_user' user.id %}" tabindex="0">Delete account</a>
                        <a class="dropdown-item nav-link text_link_kwb" href="{% url 'logout' %}">Log Out</a>
                      </div>
                        
                    </li>
                    <li class="nav-item active">
                        <a class=" nav-link text_link_kwb " href="{% url 'qa' %}">QA/Info</a>
                    </li>
                    <li class="nav-item active">
                        <a class=" nav-link text_link_kwb " href="https://qmra.readthedocs.io/en/latest/">About</a>
                    </li>
                  
                    
                </ul>
                {% else %}
                <ul class= "navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{% url 'register' %}">Register</a>
                    </li>
                      <li class="nav-item active">
                        <a class=" nav-link text_link_kwb " href="https://qmra.readthedocs.io/en/latest/">About</a>
                    </li>
                  </ul>   
                {% endif %}
            
            </div>
          </nav>
        <main class="main">
          {% block body %}
          {% endblock %}
        </main>
      
        <footer class="text-white pt-2 pb-2">
          <div class="container">
              <div class="row">
              
                  <div class="col-md-4">
              
                      <ul class="list-unstyled">
                        <li><a class="footer-item" href= "{% url 'dsgvo' %}">GDPR</a></li>
                       
                      </ul>
                  </div>
                  <div class="col-md-4">
                    <div class="footer_byline"><strong>Kompetenzzentrum Wasser Berlin</strong></div>
           
                  </div>
              </div>
          </div>
      </footer>
      
 
        <!-- Add these lines before closing </body> tag of your layout.html -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
