<!DOCTYPE html>
<html lang="en">
    <head>
           <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %} QMRA calculator {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       
        <link rel="stylesheet" href= "/static/qmratool/style.css" >
    
    {% block script%}
     {%endblock%}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg border-bottom" style="background-color: white;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

           <!-- <a class="navbar-brand text_link_kwb" href="#"><b>QMRA</b><i><sub>calculator</sub></i></a>-->
              <a class="navbar-brand" href="#">
                <img src="/static/qmratool/Logo2_letters.png" width="90" height="66" class="d-inline-block align-top" alt="">
              
            </a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                  
                        <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'index'%}"> Risk Assessments</a>
                        </li>
                         <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'treatment_edit'%}"> My Treatments</a>
                        </li>
                         <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'scenario_edit'%}"> My Exposure scenarios</a>
                        </li>
                        <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{%url 'bayes'%}"> Go Bayesian Demo</a>
                        </li>
                </ul>
                <ul class= "navbar-nav navbar-right">
                  <li class="nav-item active">
                        <a class=" nav-link text_link_kwb " href=""><strong>{{ user.username }}</strong></a>
                    </li>
                    <li class="nav-item active">
                        <a class=" nav-link text_link_kwb " href="">FAQ</a>
                    </li>
                    <li class="nav-item active">
                        <a class=" nav-link text_link_kwb " href="">Info</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{% url 'logout' %}">Log Out</a>
                    </li>
                </ul>
                {% else %}
                <ul class= "navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text_link_kwb" href="{% url 'register' %}">Register</a>
                    </li>
                  </ul>   
                {% endif %}
              </ul>
            </div>
          </nav>
        

        <div class="body">
            {% block body %}
            {% endblock %}
            
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    </body>
</html>