{% extends "qmratool/layout2.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container" style="padding: 5%">
  <div class="row">
    <div class="col-sm-8">
        {% if user.is_authenticated %}
        <h4>Create Log-Removal for {{pathogen}}</h4>
        <p> Please add minimum and maximum treatment performence for {{pathogen|lower}}<p>
        <form action = "{% url "LRV_edit" treatment_id=treatment_id pathogen_group_id=pathogen_group_id%}", method = "post">
            {% csrf_token %}
            {{LRVForm|crispy}}
          <button class = "btn btn-primary" type = "submit">Submit</button>
        </form>
      {%endif%}
   </div>
  </div>
{% endblock %}