{% extends "qmratool/layout2.html" %}
{% load crispy_forms_tags %}
{% block body %}

<div class="container" style="padding: 5%">
  <div class="row action-panel">
    <div class="col">
      <a class = "btn btn-primary" href="{%url 'scenario_create'%}"> Create exposure scenario</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">      
      <h4 class= "mb-5">Exposure Scenarios of {{user.username|capfirst}}</h4>
        {%for scenario in scenarios%}
              <div class="media px-3 mt-3">
              <div class="media-left pr-3">
                <a href="#">
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="50" height="50" rx="4" fill="#9A9BF4"/>
                  </svg>
                </a>
              </div>
                 <div class="media-body">
                  <h5 class="media-heading">{{scenario.name|capfirst}} <span class ="ml-4"><a href= "{%url 'scenario_delete' scenario.id%}", class = "btn-sm btn-danger ml-4"> Delete scenario </a></span></h5> 
                   {{scenario.description|capfirst }} <a class = "text_link_kwb font-italic" href="">Edit scenario</a><br>
                    Volume ingested [L/event]  : {{scenario.volume_per_event}} <br>
                   Number of exposures per year: {{scenario.events_per_year}}<br>
                </div>
            </div>
        {%empty%}
        There are currently no custom scenarios. Click on <strong>Create exposure scenario  </strong> to create your first exposure scenario!
        {%endfor%}
    </div>
  </div>
</div>

{% endblock %}