{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
        {% if user.is_authenticated %}
            <h4>New Source Water</h4>
            <p> Please add a name and a brief description of the water source<p>

<form  method = "post">{% csrf_token %}
    {{SWform|crispy}}
<hr>
    <strong>Concentration Viruses</strong>
    {{InflowForm|crispy}}
<hr>
    <strong>Concentration Bacteria</strong>
    {{InflowForm|crispy}}
 <hr>   
    <strong>Concentration Protozoa</strong>
    {{InflowForm|crispy}}
  <hr>  
        
   <button class = "btn btn-primary" type = "submit">Save Source water</button>
</form>
<!--
<form action = "{% url 'treatment_create'%}" method = "post">{% csrf_token %}
   
       
  <button type="submit" value="Save"> >Submit</button>
</form>-->
{%endif%}

  </div>

  <div class="col-sm-3 offset-sm-1"> <!--style= "background-color: #007c9f; color: white">-->
   <h4 class= "mb-2">Customize</h4>
   <p> Make it your own! </p>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'source_create'%}"> Create source water </a>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'treatment_create'%}"> Create treatment </a>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'scenario_create'%}"> Create exposure scenario </a>
  

  </div>

{% endblock %}