{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}

<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
      <ul id="progressbar">
        <li class="active" id="Description"><strong> </strong></li>
        <li class="active" id="Source"><strong> </strong></li>
        <li class="active" id="Treatment"><strong> </strong></li>
        <li id="Exposure"><strong> </strong></li>
    </ul>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" 
      style = 'background-color: #8081F1 !important;' role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
        {% if user.is_authenticated %}
        <form method="post" id = "form" data-step="{{ wizard.steps.step1}}">
          {% csrf_token %}
            {{ wizard.management_form }}
            {{ form|crispy }}
            <input type="submit" class = "btn btn-primary" name="wizard_goto_step" value="Next" />
          </form>
      {%endif%}
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
<script src="{% static 'qmratool/progress.js' %}"></script> 
{% endblock%}