{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<!-- Add this section at the top or bottom of your form templates -->

<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
      <ul id="progressbar">
        <li class="active" id="Description"><strong></strong></li>
        <li class="active" id="Source"><strong> </strong></li>
        <li id="Treatment"><strong> </strong></li>
        <li id="Exposure"><strong> </strong></li>
    </ul>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style = 'background-color: #8081F1 !important;' role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class = "mt-3 info">
    <p> The first step of configuring a QMRA model is the definition of the source water concentration of pathogens. 
      The QMRA tool provides default values for the reference pathogens Rotavirus, Cryptosporidium spp. and Campylobacter jejuni.
      The tool also allows users to specify their own source water concentrations.
    </p>
  </div>
  
        {% if user.is_authenticated %}
        <form method="post" id = "form" data-step="{{ wizard.steps.step1 }}">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ form|crispy}}
            <input class = "btn btn-primary" type="submit" name="wizard_goto_step" value="Next" />
          </form> 
      {%endif%}
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
  <script src="{% static 'qmratool/progress.js' %}"></script> 
  <script src="{% static 'qmratool/wizard2.js' %}"></script> 
{% endblock %}
