{% extends "qmratool/layout2.html" %}
{% load crispy_forms_tags %}
{% block body %}



<div class="container" style="padding: 5%">
  <div class="row action-panel">
    <div class="col">
      <button class="btn btn-primary"> <a class = "btn-sm btn-primary" href="{%url 'treatment_create'%}"> Create new treatment</a></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4 class= "mb-5">Treatments of {{user.username|capfirst}}</h4>
        {%for treatment in treatments%}
              <div class="media px-3 mt-3">
              <div class="media-left pr-3">
                <a href="#">
                  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="50" height="50" rx="4" fill="#9A9BF4"/>
                  </svg>
                </a>
              </div>
                 <div class="media-body">
                  <h5 class="media-heading">{{treatment.name|title}} <span class ="ml-4"><a href= "{%url 'treatment_delete' treatment.id%}", class = "btn-sm btn-danger ml-2"> Delete </a></span></h5> 
                   {{treatment.description|capfirst }} <br>
                   <p class = "mt-2">
                   <span class = "px-2"><a class = "text_link_kwb font-italic" href="{% url 'LRV_edit' treatment_id=treatment.id pathogen_group_id=2 %}"> Edit virus removal </a></span>
                   <span class = "px-2"><a class = "text_link_kwb font-italic" href="{% url 'LRV_edit' treatment_id=treatment.id pathogen_group_id=1 %}">Edit bacteria removal </a></span>
                   <span class = "px-2"><a class = "text_link_kwb font-italic" href="{% url 'LRV_edit' treatment_id=treatment.id pathogen_group_id=3 %}">Edit protozoa removal </a></span>
                    </p>                 
                   
                </div>
            </div>
            <hr>
        {%empty%}
        There are currently no custom treatment. Click on <strong>Create new Treatment  </strong> to create your first treatment!
        {%endfor%}
    </div>
  </div>
</div>

{% endblock %}