{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}



<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
       
   <h4 class= "mb-5">Treatments of {{user.username|capfirst}}</h4>
  
        {%for treatment in treatments%}
              <div class="media px-3 mt-3">
              <div class="media-left pr-3">
                <a href="#">
                  <img class= "img-fluid" src="/static/qmratool/placeholder2.png" alt="...">
                </a>
              </div>
                 <div class="media-body">
                  <h5 class="media-heading">{{treatment.name|title}} <span class ="ml-4"><a href= "{%url 'treatment_delete' treatment.id%}", class = "btn-sm btn-danger ml-4"> Delete treatment </a></span></h5> 
                   {{treatment.description|capfirst }} <br>
                   <p class = "mt-2">
                   <span class = "px-2"><a class = "text_link_kwb font-italic" href="{% url 'LRV_edit' treatment_id=treatment.id pathogen_group_id=2 %}"> Edit virus removal </a></span>
                   <span class = "px-2"><a class = "text_link_kwb font-italic" href="{% url 'LRV_edit' treatment_id=treatment.id pathogen_group_id=1 %}">Edit bacteria removal </a></span>
                   <span class = "px-2"><a class = "text_link_kwb font-italic" href="{% url 'LRV_edit' treatment_id=treatment.id pathogen_group_id=3 %}">Edit protozoa removal </a></span>
                    </p>                 
                   
                </div>
            </div>
            <hr>
        {%empty%}
        There are currently no custom treatment. Click on <strong>Create Treatment  </strong> to create your first treatment!

        {%endfor%}

  </div>



  
    <div class="col-sm-3 offset-sm-1"> <!--style= "background-color: #007c9f; color: white">-->
   <h4 class= "mb-2">Customize</h4>
   <p> Make it your own! </p>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'source_create'%}"> Create source water </a>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'treatment_create'%}"> Create treatment </a>
  <a class = "btn btn-primary mt-3 btn-block" href="{%url 'scenario_create'%}"> Create exposure scenario </a>
  



{% endblock %}