{% extends "layout.html" %}

{% block body %}
<script type="text/javascript">
    const baseUrl = '/assessment'
    function deleteAssessment(assessmentId) {
        // console.log(assessmentId)
        fetch(baseUrl + '/' + assessmentId, {
            method: "DELETE",
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            mode: 'same-origin'
        }).then( () => window.location.reload())
    }
</script>
{% csrf_token %}
<div class="container" style="padding: 5%">
    <div class="row action-panel">
        <div class="col">
            <a class="btn btn-outline-primary mt-3" href="{%url 'assessment'%}">
                Create new risk assessment
            </a>
        </div>
    </div>
    {% if user.is_authenticated %}
    <h4 class="mb-5 mt-5 kwb_headline"> My Risk Assessments</h4>
    {%for assessment in assessments%}

    <button id="show-result-{{assessment.id}}" hidden
            data-toggle="modal" data-target="#assessment-result-{{assessment.id}}" data-show="true"></button>
    <div id="assessment-result-{{assessment.id}}" class="modal modal-l" role="dialog"></div>
    <div class="media p-3 mt-3 custom-media "
         style="border: 2px solid; border-radius: 5px; border-color: #d3d3d3 ">
        <div class="media-left mt-2 pr-3">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.906006" y="0.361328" width="50" height="50" rx="4" fill="#0003e2"/>

                <svg width="51" height="51" viewBox="-5 -2 40 40" fill="#0003e2"
                     xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.90601" y="1.64844" width="26" height="32" rx="3" stroke="white"
                          stroke-width="2"/>
                    <path d="M7.15601 8.89844L21.906 8.89844" stroke="white" stroke-width="2"
                          stroke-linecap="round"/>
                    <path d="M7.15601 14.7319L21.906 14.7319" stroke="white" stroke-width="2"
                          stroke-linecap="round"/>
                    <path d="M7.15601 20.5649L21.906 20.5649" stroke="white" stroke-width="2"
                          stroke-linecap="round"/>
                    <path d="M7.15601 26.3984L21.906 26.3984" stroke="white" stroke-width="2"
                          stroke-linecap="round"/>
                </svg>
            </svg>

        </div>
        <div class="media-body assessment-summary"
             id="assessment-summary-{{assessment.id}}"
             data-assessment-id="{{assessment.id}}">
            <h4 class="media-heading text-truncate kwb_headline">
                {{assessment.name|title}}&nbsp
            </h4>
            <div class="justify-content-between">
                <div>created at: {{assessment.created_at.date}}</div>
            </div>
            <div class="d-flex w-100">
                <div class="w-25 text-muted">description:</div>
                <div class="w-75 text-truncate">{{assessment.description}}</div>
            </div>
            <div class="d-flex w-100">
                <div class="w-25 text-muted">source type:</div>
                <div class="w-75 text-truncate">{{assessment.source_name}}</div>
            </div>
            <div class="d-flex w-100">
                <div class="w-25 text-muted">exposure type:</div>
                <div class="w-75 text-truncate">{{assessment.exposure_name}}</div>
            </div>
            <div class="d-flex w-100">
                <div class="w-25 text-muted">pathogens:</div>
                <div class="w-75 text-truncate">{{assessment.pathogens_labels}}</div>
            </div>
            <div class="d-flex w-100">
                <div class="w-25 text-muted">treatments:</div>
                <div class="w-75 text-truncate">{{assessment.treatments_labels}}</div>
            </div>
        </div>
        <div style="width: 50px; height: 21px; display: flex; margin-left: auto">
            <label>
                <a href="{% url 'assessment' assessment.id %}">
                    <svg fill="none" width="20" height="20">
                        <circle cx="10" cy="10" r="10" fill="#AFAFAF"/>
                        <path d="M4.76792 16.3104L5.98981 11.7283L13.7284 3.98966L17.0886 7.34985L9.35 15.0885L4.76792 16.3104Z"
                              fill="white"/>
                    </svg>
                </a>
            </label>
            <label onclick="event.stopPropagation(); deleteAssessment('{{assessment.id}}')"
                   style="cursor: pointer;">
                <input type="submit" hidden="hidden">

                <svg fill="none" width="30" height="20">
                    <circle cx="16.0439" cy="10.4404" r="10" fill="#AFAFAF"/>
                    <rect x="19.9143" y="4.34375" width="3.1485" height="14.0952"
                          transform="rotate(45 19.9143 4.34375)" fill="white"/>
                    <rect x="22.1406" y="14.3105" width="3.1485" height="14.0952"
                          transform="rotate(135 22.1406 14.3105)" fill="white"/>
                </svg>
            </label>
        </div>
    </div>

    {%empty%}
    There are currently no risk assessments. Click on Create new risk assessment to create your
    first risk assessment.
    {%endfor%}

</div>

<script type="text/javascript">
    function getResults(id) {
        const content = fetch(`{% url 'assessment-result' %}?id=${id}`, {
            method: "GET",
            headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
            mode: 'same-origin'
            }).then(r => r.text()).then(html => {
                document.querySelector(`#assessment-result-${id}`).innerHTML = html;
                document.querySelector(`#show-result-${id}`).click();
                document.querySelector(`#assessment-result-${id}`).querySelectorAll("script").forEach(s => eval(s.innerHTML));
            });
    }
    document.addEventListener('DOMContentLoaded', async function() {
        document.querySelectorAll(".assessment-summary").forEach(n => {
            n.addEventListener("click", async ev => {
                ev.preventDefault();
                ev.stopPropagation();
                getResults(n.getAttribute("data-assessment-id"));
            });
        });
    })
</script>
{%endif%}
{% endblock %}

{% block side-list %}
{% endblock %}
        
