<!-- templates/registration/password_reset_form.html -->
{% extends "qmratool/layout.html" %}
{% load crispy_forms_tags %}


{% block body %}
  
 

 <div class="container" style="padding: 5%">


  <div class="row">
  <div class="col-sm-6">
   
{% if validlink %}

<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form | crispy }}
  <input type="submit" class = "btn btn-primary" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
  </div>

  <div class="col-sm-5 offset-sm-1" >
  <img class= "img-fluid" src="/static/qmratool/Logo2_letters.png" alt="...">
 
  </div>


{% endblock %}